.sidenav-container {
    height: 100vh;
  }
  
  .mat-sidenav {
    width: 250px;
    background-color: #F6DED8; /* Light pink background */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pushes logout to the bottom */
    padding-top: 20px;
  }
  
  .mat-nav-list {
    flex-grow: 1;
  }
  
  .mat-list-item {
    font-weight: 500;
    font-size: 16px;
    color: #B82132; /* Deep red */
    transition: background 0.3s, color 0.3s;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    

  }
  .mat-mdc-list-item, .mat-mdc-list-option {
    width: 90%;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: flex

}
  
  .mat-list-item:hover {
    background-color: #D2665A;
    color: white;
  }
  
  /* Active Link */
  .active-link {
    font-weight: bold;
    color: #B82132 !important;
  }
  
  /* Logout Button */
  .logout-button {
    color: white !important;
    background-color: #B82132 !important;
    font-weight: bold;
    text-align: center;
    padding: 12px;
    border-radius: 8px;
    margin: 10px;
  }
  
  .logout-button:hover {
    background-color: #D2665A !important;
  }
  


  .mat-toolbar {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
}

.spear-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9999; /* Increased z-index to be on top */
  pointer-events: none;
}


.spear {
  position: absolute;
  width: 200px;
  height: auto;
  opacity: 0.3;
  animation: panSpear 8s linear infinite;
}

@keyframes panSpear {
  0% {
    transform: translateX(-1000%);
  }
  100% {
    transform: translateX(1000%);
  }
}

/* Position each spear at different heights and speeds */
.spear:nth-child(1) {
  top: -1%;
  animation-duration: 6s;
}


